<div class="container">
  <div class="jumbotron">
      <h1> EmailTool Home page </h1>
  </div>
  
  <!--<div class="row navbar">
      <div class="col">
          <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary mr-2" id="dropdownBasic1" ngbDropdownToggle>
                  Lecture 1
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button ngbDropdownItem>
                      <a routerLink="/twowayexample">Two-way binding
                          example</a>
                  </button>
                  <button ngbDropdownItem>
                      <a routerLink="/directivesexample">Directives example</a>
                  </button>
                  <button ngbDropdownItem>
                      <a routerLink="/formsexample">Template-driven form example</a>
                  </button>
              </div>
          </div>
          <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>
                  Lecture 2
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                  <button ngbDropdownItem>
                      <a routerLink="/calculator">Calculator Service</a>
                  </button>
                  <button ngbDropdownItem>
                      <a routerLink="/pipesexample">Pipes Example</a>
                  </button>
                  <button ngbDropdownItem>
                      <a routerLink="/routingexample/something">Routing Example</a>
                  </button>
              </div>

          </div>
      </div>
  </div>-->

  <router-outlet></router-outlet>

</div>