<div class="my-5"> <!-- should be okay -->
    <h3>Email viewer</h3>

    <table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
        </tr>
    </thead>
    <tbody>
        <!-- <tr *ngFor="let email of emailsList; index as i"> useful
            <th scope="row">{{ i + 1 }}</th> -->
        <tr>
            <td>{{ emailToView.id }}</td>
            <td>{{ emailToView.from }}</td>
            <td>{{ emailToView.to }}</td>
        </tr>
    </tbody>
    </table>

    <h5>Subject</h5>
    <div class="ml-3">
        {{ emailToView.subject }}
    </div>

    <div class="my-3"></div>

    <h5>Body</h5>
    <div *ngIf="emailToView.body!==null" class="ml-3">
        {{ emailToView.body }}
    </div>
    <div *ngIf="emailToView.body==null" class="ml-3">
        (empty body)
    </div>
</div>