<div class="my-5"> <!-- should be okay -->
    <h3>Emails list</h3>

    <table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Subject</th>
        </tr>
    </thead>
    <tbody>
        <!-- <tr *ngFor="let email of emailsList; index as i"> useful
            <th scope="row">{{ i + 1 }}</th> -->
        <tr>
            <td>{{ from }}</td>
            <td>{{ to }}</td>
            <td>{{ subject }}</td>
        </tr>
    </tbody>
    </table>

    <div *ngIf="body!==null" class="ml-3">
        {{ body }}
    </div>
</div>